# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# Testing and Caches
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Environment variables and secrets
.env

# Logs
logs/
